@use "variables.module.scss" as *;

.nt_panel {
    background-color: rgba(24, 24, 37, 0.75);
    backdrop-filter: var(--panelBlur);
    border-radius: 12rem;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    color: white;
    overflow: hidden;

    &__header {
        display: flex;
        flex-direction: row;
        padding: $panel-padding-y $panel-padding-x 0;
        align-items: center;
        justify-content: space-between;
        flex: 2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: $panel-padding-y $panel-padding-x;
    }
}
