@use '../shared/animations.module.scss' as *;

.wrapper {
    position: relative;
}

.panel {
    padding: 8rem 14rem;
    animation: slideIn 0.16s ease-out forwards;
}

.divider {
    height: 1rem;
    width: 100%;
    margin: 8rem 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    height: 100rem;
}
