@use "../shared/animations.module.scss" as *;

.wrapper {
    position: relative;
    min-width: 350rem;
}

.panel {
    margin-left: 4rem;
    animation: slideIn 0.16s ease-out forwards;
}

.divider {
    height: 2rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.row {
    display: flex;
    flex-direction: row;
    padding: 8rem 14rem;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10rem 16rem;
    flex: 2;
}

.selectedEntity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.helper {
    font-size: var(--fontSizeS);
    line-height: 1.25em;
    color: rgba(255, 255, 255, 0.75);
}

.sliderField {
    width: 100%;
    padding: 2rem 8rem;

    input {
        display: none;
    }
}

.controlRow .controlRowInner {
    display: flex;
    flex-direction: row;
    align-items: center;

    .paramLabel {
        flex: 2;
    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    & > button + button {
        margin-left: 4rem;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    & > * {
        margin: 0 4rem;
    }
}

.iconButton {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    opacity: 0.6;

    &__active {
        opacity: 1;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.applyButton {
    padding: 5rem 8rem;
    font-size: var(--fontSizeS);
}

.toolTitle {
    color: white;
}

.parameterControl {
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: space-between;
}

.paramLabel {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
    font-size: var(--fontSizeS);
    line-height: 1.25em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textInput {
    width: 100rem;
}
