@use '../shared/animations.module.scss' as *;

.wrapper {
    position: relative;
    min-width: 250rem;
}

.panel {
    margin-left: 4rem;
    animation: slideIn 0.16s ease-out forwards;
}

.divider {
    height: 2rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.row {
    display: flex;
    flex-direction: row;
    padding: 8rem 14rem;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 8rem 14rem;
    flex: 2;
}

.selectedEntity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.helper {
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    align-items: center;
}

.controlRow {
    display: flex;
    flex-direction: row;

    .label {
        color: white;
        margin-right: 4rem;
        width: 80rem;
    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    & > button {
        margin: 0 4rem;
    }
}

.actions {
    display: flex;
    flex-direction: row;

    & > * {
        margin: 0 4rem;
    }
}

.iconButton {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    opacity: 0.6;

    &__active {
        opacity: 1;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.applyButton {
    padding: 5rem 8rem;
    font-size: var(--fontSizeS);
}

.toolTitle {
    color: white;
}
