.wrapper {
    position: absolute;
    left: 0;
    top: 50rem;
    height: 100vh;
    padding-bottom: 188rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    pointer-events: none;
}
