@use "../shared/animations.module.scss" as *;
@use "../shared/variables.module.scss" as *;

.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
}

.panel {
    margin-left: 4rem;
    animation: slideIn 0.16s ease-out forwards;
    width: 352rem;
}

.divider {
    height: 2rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.row {
    display: flex;
    flex-direction: row;
    padding: $panel-padding-y $panel-padding-x;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.col {
    display: flex;
    flex-direction: column;
    padding: $panel-padding-y $panel-padding-x;
    flex: 2;
}

.selectedEntity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__name {
        opacity: 0.5;
    }
}

.entityPreview {
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem;
    flex: 1;
    overflow: hidden;

    &__thumbnail {
        width: 32rem;
        height: 32rem;
        margin-right: 4rem;
    }

    &__name {
        font-size: var(--fontSizeS);
        line-height: 1.25em;
        color: rgba(255, 255, 255, 0.75);
    }
}

.helper {
    font-size: var(--fontSizeS);
    line-height: 1.25em;
    color: rgba(255, 255, 255, 0.75);
}

.sliderField {
    width: 100%;

    // Override some vanilla styles
    & > * {
        padding: 0;
    }

    [class^="label"] {
        color: white;
        // Undo some vanilla styles
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
    }

    // input {
    //     display: none;
    // }
}

.controlRow {
    .controlRowInner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.controlRow + .controlRow {
    margin-top: 8rem;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;

    & > button {
        margin-bottom: 2rem;
        margin-left: 4rem;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 8rem 0;

    & > * {
        margin: 0 4rem;
    }
}

.tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: var(--fontSizeS);
    padding: 1rem 4rem;
    border-bottom-right-radius: 4rem;
}

.iconButton {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    opacity: 0.6;
    position: relative;
    overflow: hidden;

    &__active {
        opacity: 1;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.toolButton {

}

.icon {
    width: 36rem;
    height: 36rem;
}

.applyButton {
    padding: 5rem 8rem;
    font-size: var(--fontSizeS);
    font-weight: 600;
}

.toolTitle {
    color: white;
}

.toolDescription {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.85em;
}

.parameterControl {
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: space-between;
}

.paramLabel,
.sliderField [class^="label"] {
    font-size: var(--fontSizeS);
    line-height: 1.25em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120rem;
    margin-right: 8rem;
    opacity: 0.75;
}

.textInput {
    width: 100rem;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    padding-right: 16rem;
}

.infoButton {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    opacity: 0.6;
    position: relative;
    overflow: hidden;
    color: white;

    & > div {
        width: 100%;
        height: 100%;
    }

    &__active {
        opacity: 1;
    }
}

.tutorialPanel {
    animation: slideInRight 0.16s ease-out forwards;
    width: 280rem;
    margin-left: 8rem;
}

.tutorialTitle {
    color: white;
    font-weight: 600;
    margin-bottom: 6rem;
}

.tutorialText {
    color: rgba(255, 255, 255, 0.75);
    font-size: var(--fontSizeS);
    line-height: 1.5em;
}
