@use '../shared/animations.module.scss' as *;
@use '../shared/variables.module.scss' as *;

$opacityRest: 100%;
$brighten: 10%;

$iconSize: 28rem;
$iconPadding: 6rem;
$barHeight: $iconSize + $iconPadding * 2;

.wrapper {
    animation: slideInLeft 0.16s ease-out forwards;
    width: 40rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14rem 0;
    position: relative;

    & > * {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.toolItem {
    position: relative;
    width: 100%;
    padding: 0 4rem;
}

.activeIndicator {
    --size: 3rem;

    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: 100%;
    background: $color-nt-3;
    border-top-right-radius: var(--size);
    border-bottom-right-radius: var(--size);
    transition: opacity 0.2s ease-out;
    pointer-events: none;
}

.column .actionButton {
    margin: 0;
    padding: $iconPadding;
    display: flex;
    flex-direction: row;
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    opacity: 0.75;

    img {
        width: $iconSize;
        height: $iconSize;
    }

    &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.1);
    }

    &__active {
        opacity: 1;
        // background: rgba(255, 255, 255, 0.3);
    }

    &__inactive {
        filter: grayscale(100%) opacity(30%);

        &:hover {
            background: inherit;
        }
    }
}

.categoryDivider {
    width: 70%;
    height: 1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    margin: 4rem 0;
}
