@use '../shared/animations.module.scss' as *;

$magenta-haze: #ae4377ff;
$raspberry-rose: #b4446eff;
$raspberry-rose-2: #ba4565ff;
$cerise: #c0455cff;
$bittersweet-shimmer: #c64653ff;
$bittersweet-shimmer-2: #cc474aff;
$bittersweet-shimmer-3: rgb(204, 87, 71);
$color1: $magenta-haze;
$color2: $raspberry-rose;
$color3: $raspberry-rose-2;
$color4: $cerise;
$color5: $bittersweet-shimmer;
$color6: $bittersweet-shimmer-2;
$color7: $bittersweet-shimmer-3;
$opacityRest: 100%;
$brighten: 10%;
$color-nt-3: linear-gradient(to bottom, rgb(205, 56, 219) 0%,rgb(150, 69, 255) 100%);

.wrapper {
    animation: slideInLeft 0.16s ease-out forwards;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14rem 4rem;
    position: relative;

    & > * {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.activeBar {
    position: absolute;
    top: 14rem;
    left: 0;
    width: 2rem;
    height: 40rem;
    background: $color-nt-3;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 0;
    transition: transform 0.2s ease-out;
}

.column .actionButton {
    $iconSize: 24rem;

    margin: 0;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;

    img {
        width: $iconSize;
        height: $iconSize;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    &:active {
        background: rgba(255, 255, 255, 0.3);
    }


    &__inactive {
        filter: grayscale(100%) opacity(50%);

        &:hover {
            background: inherit;
        }
    }
}
